/*Contact section*/
.contact {
    @extend .vestidos;
    color: $font-colorprimario;
    background-color: $principal;
    text-align: center;
    &__logos {
        @include flex(0, space-evenly, baseline, 0);
        flex-wrap: wrap;
        padding: 1rem 1rem 0px 1rem;
        list-style-type: none;
    }
    &__texto {
        color: $font-colorprimario;
        font-size: map-get($fontsize, medium);
        font-weight: bold;
        text-shadow: none;
    }
    &__logos--iconos {
        @extend .zoom;
    }
}

/*Form section*/
.form {
    color: $font-colorprimario;
    background-color: $principal;
    @include flex(0, center, 0, 0);
    flex-wrap: wrap;
    padding-bottom: 4rem;
    &__fielset {
        background-color: $cuarto;
        border-radius: 50px;
        border: none;
        width: 60%;
        height: auto;
        padding: 10rem 2rem 2rem 2rem;
        margin: 2rem;
        text-align: center;
    }
    &__fielset--decorativeline {
        background-color: #7E7E7E;
        height: 0.01px;
        margin-bottom: 5rem;
    }
    &__fielset--input {
        border: 1px solid #7E7E7E;
        border-radius: 20px;
        width: 40%;
        height: auto;
        font-size: map-get($fontsize, medium);
        margin: 1rem;
        padding: 1.5rem;
        font-family: $font-principal;
    }
    &__fielset--textarea {
        @extend .form__fielset--input;
        font-family: #000;
        font-size: map-get($fontsize, medium);
    }
    &__fielset--selection {
        font-family: $font-principal;
        border: 1px solid #7E7E7E;
        border-radius: 20px;
        height: auto;
        margin: 1.5rem 1.5rem 1.5rem 0rem;
        font-size: map-get($fontsize, medium);
        text-align: center;
        margin-right: 7rem;
    }
    &__options {
        @include flex(0, center, baseline, 0);
    }
    &__fielset--texto {
        font-size: map-get($fontsize, medium);
        text-align: center;
        margin-right: 1rem;
    }
    &__fielset--checkbox {
        width: 15px;
        height: 15px;
    }
    &__fielset--boton {
        @extend .zoom;
        background-color: $principal;
        border: none;
        box-shadow: $text-shadow1;
        border-radius: 20px;
        font-size: map-get($fontsize, medium);
        width: 20%;
        height: auto;
        padding: 1rem;
        margin: 2rem 4rem;
        color: #000;
        background-image: linear-gradient(to top, #968580, #9c8b86, #a3918c, #a99893, #b09e99);
    }
}

@media screen and (max-width:767px){
    /*Contact section*/
    .contact {
        &__logos {
            @include flex(0, center, 0, 0);
        }
        &__texto {
            font-size: map-get($fontsize, xsmall);
            padding: 0 1rem;
        }
        &__logos--iconos {
            width: 70%;
        }
    }

     /*Form section*/
    .form {
        padding-bottom: 2rem;
        &__fielset {
            border-radius: 25px;
            width: 60%;
            padding: 4rem 1rem 1rem 1rem;
            margin: 1rem;
            text-align: center;
        }
        &__fielset--decorativeline {
            background-color: #7E7E7E;
            height: 0.001px;
            margin-bottom: 3rem;
        }
        &__fielset--input {
            border-radius: 20px;
            width: 80%;
            height: auto;
            font-size: map-get($fontsize, xsmall);
            margin: 1rem;
            padding: 0.8rem;
        }
        &__fielset--textarea {
            font-size: map-get($fontsize, xsmall);
        }
        &__options {
            @include flex(0, center, baseline, 0);
            flex-wrap: wrap;
        }
        &__fielset--selection {
            font-size: map-get($fontsize, xsmall);
            padding-right: 0.8rem;
            margin: 1rem 0rem;
        }
        &__fielset--selection {
            font-size: map-get($fontsize, xsmall);
            padding-right: 0.8rem;
            margin: 1rem 0rem;
        }
        &__fielset--texto {
            font-size: map-get($fontsize, xsmall);
            padding-left: 0.3rem;
        }
        &__fielset--checkbox {
            width: 8px;
            height: 8px;
            margin-left: 0.2rem;
        }
        &__fielset--boton {
            font-size: map-get($fontsize, xsmall);
            width: 35%;
            padding: 1rem;
            margin: 1.5rem 1rem;
        }
        &__wrap {
            display: flex;
            flex-wrap: wrap-reverse;
        }
    }
}
