/*Sizes section*/
.sizes {
    color: $font-colorprimario;
    background-color: $principal;
    &__flex {
        padding-top: 1rem;
        @include flex(0, space-evenly, center, 0);
        flex-wrap: wrap;
    }
    &__tabla {
        border: solid 1rem #968580;
        border-radius: 5px;
        border-collapse: collapse;
        box-shadow: $box-shadow;
        width: 50%;
    }
    &__tabla--tr {
        font-size: map-get($fontsize, medium);
        line-height: 2.2;
        border: none;
    }
    &__tabla--color1 {
        background-color: $secundario;
    }
    &__tabla--color2 {
        background-color: #D0C0BB;
    }
    &__imagen {
        width: auto;
        max-height: 100%; 
    }
    &__imagen--manequin {
        height:500px;
    }
}


/*Media queries*/
@media screen and (max-width: 1200px) {
    .sizes__tabla--tr {
        font-size: map-get($fontsize, small);
        line-height: 2;
        border: none;
    }
}
@media screen and (max-width:767px){

    /*Sizes section*/
    .sizes {
        &__flex {
            padding-top: 0.5rem;
        }
        &__tabla {
            border: solid 0.5rem #968580;
            width: 100%;
            margin-top: 1.5rem;
        }
        &__tabla--tr {
            font-size: map-get($fontsize, xsmall);
            line-height: 1.5;
            text-align: center;
        }
        &__imagen--manequin {
            height:350px;
        }
    }
    }
