/*Variables*/
/*Variables*/
/*Globales*/
/*Normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals*/
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #968580; }

ul {
  list-style-type: none;
  margin-left: -2rem; }

a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  font-family: "Raleway", sans-serif; }
  a:hover {
    color: #383737; }

/*Boton wpp*/
.boton__wpp {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  border-radius: 50%; }

/*Animaciones*/
.zoom {
  transition: transform .2s; }
  .zoom:hover {
    transform: scale(1.05); }

/*Helpers*/
.container {
  max-width: 1200px;
  margin: 0 auto; }

.flex-row {
  display: flex;
  flex-direction: row; }

/*Partials*/
.header {
  background-color: #968580;
  margin-bottom: -4px; }
  .header__fixed {
    position: fixed;
    z-index: 100;
    width: 100%; }
  .header__cuotas {
    color: #FFFFFF;
    background-color: #B09E99;
    font-size: 1.3em;
    text-align: center;
    padding: 0.1rem; }
  .header__nav {
    color: #FFFFFF;
    background-color: #968580;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 100%;
    margin-top: -1rem; }
  .header__portada {
    width: 100%;
    margin-top: 5rem; }

.logo {
  padding-top: 3rem;
  padding-bottom: 1.5rem; }

.menu {
  flex-basis: 50%;
  justify-content: space-between;
  font-size: 2.3em;
  align-items: baseline; }
  .menu__item {
    text-shadow: 0px 4px 4px #000000b3;
    padding: 0.6rem;
    text-align: center;
    white-space: nowrap; }
  .menu__visita {
    color: #383737;
    text-decoration: none;
    font-size: 2.7rem; }

.carousel-item {
  margin-top: 10rem;
  padding-top: 2rem; }

/*Media queries*/
@media screen and (max-width: 767px) {
  .header__cuotas {
    font-size: 1.1em; }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
  .logo {
    padding: 1rem;
    width: 70%; }
  .menu {
    font-size: 1.6em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
    .menu__visita {
      font-size: 1.8rem;
      text-decoration: none; }
    .menu__item {
      padding: 0.5rem;
      text-align: center;
      margin: 0 1rem; } }

/*Social media section*/
.redes {
  background-color: #FEE9E1;
  background-image: linear-gradient(to top, #968580, #af9d97, #c9b6af, #e3cfc8, #fee9e1); }
  .redes__titulo {
    color: #383737;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px; }
  .redes__logos {
    display: flex;
    justify-content: space-evenly; }
  .redes__titulo--iconos {
    list-style-type: none;
    padding-right: 1.9rem; }

/*Footer section*/
.footer__logo {
  color: #FFFFFF;
  background-color: #968580;
  font-size: 3em;
  font-weight: lighter;
  text-shadow: 0px 4px 4px #000000b3;
  text-align: center; }

.footer__p {
  color: #FFFFFF;
  background-color: #B09E99;
  text-align: center;
  font-size: 1.5em; }

@media screen and (max-width: 767px) {
  /*Social media section*/
  .redes__titulo {
    font-size: 1.5em;
    padding-top: 1.2rem;
    padding-bottom: 1rem; }
    .redes__titulo__titulo--iconos {
      width: 10px;
      height: 20px;
      padding-bottom: 5rem;
      padding-right: 7rem; }
  .footer__logo {
    font-size: 1.8em; }
  .footer__p {
    font-size: 0.9em; } }

/*Views*/
.vestidos {
  background: #B09E99;
  padding: 4rem; }
  .vestidos__titulo {
    color: #383737;
    background-color: #FEE9E1;
    box-shadow: 5px 5px 30px #454545;
    font-size: 2.7em;
    text-shadow: 0px 4px 4px #00000040;
    text-align: center;
    padding: 1.8rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    font-weight: bold; }
  .vestidos__conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 1rem; }
  .vestidos__modelo {
    background-color: #FFFFFF;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    box-shadow: 5px 5px 30px #454545;
    padding-top: 3.5rem;
    margin: 3.5rem;
    color: #383737;
    text-align: center;
    line-height: 1.5rem; }
  .vestidos__modelo--foto {
    width: 75%; }
  .vestidos__modelo--seccion {
    padding-top: 1.3rem;
    font-size: 1.5em; }
  .vestidos__modelo--nombre {
    font-size: 2em;
    font-weight: bold;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem; }
  .vestidos__modelo--precio {
    font-size: 2em; }
  .vestidos__modelo--cuotas {
    font-size: 1.5em; }

span {
  color: #f94144;
  font-size: 0.9em;
  text-decoration: line-through; }

/*Video section*/
.video {
  background-color: #FEE9E1;
  text-align: center; }
  .video__titulo {
    color: #383737;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .video__video {
    background-color: #383737;
    border: solid 1rem #B09E99;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 35%; }

/*App section*/
.app {
  background-color: #FEE9E1;
  text-align: center; }
  .app__titulo {
    color: #383737;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 2.5rem;
    padding-bottom: 1rem; }
  .app__titulo--p {
    font-size: 2em;
    padding-bottom: 2rem; }
  .app__imagen {
    width: 35%; }

/*Media queries*/
@media screen and (max-width: 1200px) {
  .vestidos__conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; } }

@media screen and (max-width: 767px) {
  .vestidos {
    padding: 1.5rem; }
    .vestidos__titulo {
      font-size: 1.7em;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px; }
    .vestidos__conteiner {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center; }
    .vestidos__modelo {
      margin: 1rem;
      width: 60%;
      line-height: 1rem;
      padding-top: 2.5rem; }
    .vestidos__modelo--seccion {
      padding-top: 0.5rem;
      font-size: 1em; }
    .vestidos__modelo--nombre {
      font-size: 1.5em;
      padding-top: 1rem; }
    .vestidos__modelo--precio {
      font-size: 1.5em; }
    .vestidos__modelo--cuotas {
      font-size: 1em; }
  span {
    color: #f94144;
    font-size: 0.9em;
    text-decoration: line-through; }
  /*Section Video*/
  .video__titulo {
    font-size: 1.6em;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .video__video {
    width: 80%; }
  /*Section app*/
  .app__titulo {
    font-size: 1.8em;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem; }
  .app__titulo--p {
    font-size: 1.3em;
    padding-bottom: 2rem; }
  .app__imagen {
    width: 80%; } }

@media screen and (min-width: 0px) and (max-width: 830px) {
  .carousel-item {
    margin-top: 8rem;
    padding-top: 5rem; } }

@media screen and (min-width: 768px) and (max-width: 836px) {
  .carousel-item {
    margin-top: 12rem;
    padding-top: 5rem; } }

/*Sizes section*/
.sizes {
  color: #383737;
  background-color: #B09E99; }
  .sizes__flex {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
  .sizes__tabla {
    border: solid 1rem #968580;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 5px 5px 30px #454545;
    width: 50%; }
  .sizes__tabla--tr {
    font-size: 2em;
    line-height: 2.2;
    border: none; }
  .sizes__tabla--color1 {
    background-color: #FEE9E1; }
  .sizes__tabla--color2 {
    background-color: #D0C0BB; }
  .sizes__imagen {
    width: auto;
    max-height: 100%; }
  .sizes__imagen--manequin {
    height: 500px; }

/*Media queries*/
@media screen and (max-width: 1200px) {
  .sizes__tabla--tr {
    font-size: 1.6em;
    line-height: 2;
    border: none; } }

@media screen and (max-width: 767px) {
  /*Sizes section*/
  .sizes__flex {
    padding-top: 0.5rem; }
  .sizes__tabla {
    border: solid 0.5rem #968580;
    width: 100%; }
  .sizes__tabla--tr {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center; }
  .sizes__imagen--manequin {
    height: 350px; } }

/*Contact section*/
.contact {
  color: #383737;
  background-color: #B09E99;
  text-align: center; }
  .contact__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 1rem 1rem 0px 1rem;
    list-style-type: none; }
  .contact__texto {
    color: #383737;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: none; }

/*Form section*/
.form {
  color: #383737;
  background-color: #B09E99;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4rem; }
  .form__fielset {
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    width: 60%;
    height: auto;
    padding: 10rem 2rem 2rem 2rem;
    margin: 2rem;
    text-align: center; }
  .form__fielset--decorativeline {
    background-color: #7E7E7E;
    height: 0.01px;
    margin-bottom: 5rem; }
  .form__fielset--input {
    border: 1px solid #7E7E7E;
    border-radius: 20px;
    width: 40%;
    height: auto;
    font-size: 1.8em;
    margin: 1rem;
    padding: 1.5rem;
    font-family: "Raleway", sans-serif; }
  .form__fielset--textarea {
    font-family: #000;
    font-size: 1.8em; }
  .form__fielset--selection {
    font-family: "Raleway", sans-serif;
    border: 1px solid #7E7E7E;
    border-radius: 20px;
    height: auto;
    margin: 1.5rem 1.5rem 1.5rem 0rem;
    font-size: 1.7em;
    text-align: center;
    margin-right: 7rem; }
  .form__options {
    display: flex;
    justify-content: center;
    align-items: center; }
  .form__fielset--texto {
    font-size: 2em;
    text-align: center;
    margin-right: 1rem; }
  .form__fielset--checkbox {
    width: 15px;
    height: 15px; }
  .form__fielset--boton {
    background-color: #B09E99;
    border: none;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 20px;
    font-size: 2em;
    width: 20%;
    height: auto;
    padding: 1rem;
    margin: 2rem 4rem;
    color: #383737;
    background-image: linear-gradient(to top, #968580, #9c8b86, #a3918c, #a99893, #b09e99); }

@media screen and (max-width: 767px) {
  /*Contact section*/
  .contact__logos {
    display: flex;
    justify-content: space-around; }
  .contact__texto {
    font-size: 1.1em;
    padding: 0 0.3rem; }
  .contact__logos--iconos {
    width: 70%; }
  /*Form section*/
  .form {
    padding-bottom: 2rem; }
    .form__fielset {
      border-radius: 25px;
      width: 60%;
      padding: 4rem 1rem 1rem 1rem;
      margin: 1rem;
      text-align: center; }
    .form__fielset--decorativeline {
      background-color: #7E7E7E;
      height: 0.001px;
      margin-bottom: 3rem; }
    .form__fielset--input {
      border-radius: 20px;
      width: 80%;
      height: auto;
      font-size: 1.1em;
      margin: 1rem;
      padding: 0.8rem; }
    .form__fielset--textarea {
      font-size: 1.1em; }
    .form__options {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
    .form__fielset--selection {
      font-size: 1.1em;
      padding-right: 0.8rem;
      margin: 1rem 0rem; }
    .form__fielset--selection {
      font-size: 1.1em;
      padding-right: 0.8rem;
      margin: 1rem 0rem; }
    .form__fielset--texto {
      font-size: 1.1em;
      padding-left: 0.3rem; }
    .form__fielset--checkbox {
      width: 8px;
      height: 8px;
      margin-left: 0.2rem; }
    .form__fielset--boton {
      font-size: 1.1em;
      width: 35%;
      padding: 1rem;
      margin: 1.5rem 1rem; }
    .form__wrap {
      display: flex;
      flex-wrap: wrap-reverse; } }
